@model AdminDashboard.Models.ProductImageesModel

@{
    ViewData["Title"] = "Create Image Product";
    var ProductImages = ViewBag.ProdImages;
    var prdid = ViewBag.Product;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">

</head>
<body class="hold-transition sidebar-mini">

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active">Create Image</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Create Image</h3>
                            </div>
                            <form asp-action="CreateImageeProduct" enctype=" multipart /form-data">
                                <div class="card-body">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="ProductId" class="control-label" for="exampleInputProductID">Product ID</label>
                                        <select asp-for="ProductId" class="form-control" id="exampleInputProductID" style="width:100% !important;">
                                            <option value="@prdid.Id" selected hidden>@prdid.Name</option>
                                        </select>
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="ImagePaths" class="form-control " for="exampleInputProductimage">Product Images</label>
                                        <input asp-for="ImagePaths" type="file" multiple class="form-control btn btn-success" id="exampleInputProductimage" required />
                                        <span asp-validation-for="ImagePaths" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                            <div class="card-footer">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="float:right">Back to List</a>
                            </div>
                            @{
                                await Html.RenderPartialAsync("_ValidationScriptsPartial");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
</body>
</html>
